@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #000000;
    color: #6f87a0;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Plus Jakarta Sans', 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}
